@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

// Custom Properties CSS
// Variables definition
$font-main: "Bangers",
cursive;
$main-color                 : #eceae4;
$btn-color                  : #4caf50;
$btn-border-radius          : 1.5rem;
$nav-font-color             : white;
$circle-border-radius       : 50%;
$header-background-color    : gray;
$footer-background-color    : gray;
$footer-color               : white;
// Variables for screen size control
$mobile_breakpoint          : 576px;
$tablet_breakpoint          : 768px;
$tablet_landscape_breakpoint: 992px;
$desktop_breakpoint         : 1200px;
$desktop_xl_breakpoint      : 1600px;

@mixin card {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: center;
}

@mixin button {
    font-family        : $font-main;
    font-size          : 1rem;
    display            : flex;
    flex-direction     : row;
    justify-content    : center;
    align-items        : center;
    margin             : 2rem auto;
    width              : fit-content;
    border-radius      : $btn-border-radius;
    border             : 2px solid black;
    background-color   : $btn-color;
    box-shadow         : 0.3rem 0.3rem 0.3rem 0 #000;
    transition-duration: 0.3s;

    @include mobile {
        font-size : unset;
        margin    : 1rem auto;
        box-shadow: 0.1rem 0.1rem 0.1rem 0 #000;
    }
}

// Mixin for media query

@mixin mobile {
    @media only screen and (max-width: #{$mobile_breakpoint}) {
        @content;
    }
}

@mixin tablet {
    @media only screen and (max-width: #{$tablet_breakpoint}) {
        @content;
    }
}

a {
    text-decoration: none;
    color          : inherit;
}

.section {
    padding         : 20px;
    background-color: $main-color;

    @include mobile {
        padding: 10px;
    }
}

.header {
    background-color: $header-background-color;
    border          : 2px solid black;
    padding         : 1.25rem;
    margin          : 2.5rem;
}

.main {
    &__div {
        width : 95%;
        margin: auto;

        @include tablet {
            width: 100%;
        }
    }

    &__font {
        font-family: $font-main;
    }
}

.nav {
    color           : $nav-font-color;
    background-color: $header-background-color;
    display         : flex;
    flex-direction  : row;
    justify-content : space-around;
    align-items     : center;
    flex-wrap       : wrap;
    font-size       : 2.5rem;
    margin          : auto;

    &__title {
        text-align         : center;
        transition-duration: 0.2s;
        text-shadow        : 0.3rem 0.3rem 0.3rem #000;
        margin             : 1rem 0;

        @include mobile {
            font-size: 1.5rem;
        }
    }

    &__title:hover {
        //transform: scale(110%);
        animation                : shake 0.5s;
        animation-iteration-count: infinite;
    }
}

.footer {
    position        : relative;
    display         : flex;
    justify-content : center;
    padding         : 1%;
    margin          : auto;
    background      : transparent;
    background-color: $footer-background-color;
    color           : $footer-color;

    &__text {
        display  : block;
        font-size: 1.5rem;
        margin   : auto;

        @include mobile {
            font-size: unset;
        }
    }

    &__logo {
        margin-right: 10px;
    }

    &__logo-img {
        width              : 8%;
        max-width          : 3.2rem;
        border-radius      : $circle-border-radius;
        margin-top         : 0.62rem;
        transition-duration: 0.2s;
    }

    &__logo-img:hover {
        transform: scale(120%);
    }

}

.bg-img {
    background-image   : url("https://cdn.pixabay.com/photo/2016/11/21/17/59/blackboard-1846865_960_720.jpg");
    background-position: center center;
    background-repeat  : no-repeat;
    background-size    : cover;
}

.card {
    @include card;
}

.card-flex-center {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;

    @include mobile {
        flex-direction: column;
    }
}

.card-centered {
    text-align : center;
    align-items: center;

    p {
        margin: auto;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.game {
    display      : flex;
    flex-wrap    : wrap;
    margin       : auto;
    width        : 50%;
    border-radius: $btn-border-radius;
    border       : 2px solid #000;

    @include mobile {
        width: 95%;
    }

    &__cell {
        width  : 4.5rem;
        margin : auto;
        padding: 1rem 2rem;
    }

    &__img {
        width: 100%;
    }

    &__btn-init {
        @include button;
        padding  : 1rem 2rem;
        font-size: 1.5rem;

        @include mobile {
            padding: 0;
        }

        &:hover {
            transform: scale(115%);
        }
    }

    &__resul {
        @include button;
        padding         : 0 1rem;
        font-size       : 2rem;
        background-color: white;

        @include mobile {
            padding: 0;
        }

        &:hover {
            // transform: scale(115%);
            animation                : shake 0.5s;
            animation-iteration-count: infinite;
        }
    }

    &__points-1 {
        padding: 1rem;
        margin : 1rem;
        color  : blue;
    }

    &__points-2 {
        padding: 1rem;
        margin : 1rem;
        color  : red;
    }
}